* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #465e73;
    --secondary-color: #84a9bf; 
    --accent1-color: #bde3f2;
    --accent2-color: #bc6316;
    --accent3-color: #bf5934;
}

a {
    text-decoration: none;
    color:#bf5934;
    padding: 4em;
}



.hero { /*outdoor and paragr...*/
    position: relative;
    width: 50rem;
    color: #465e73;

}

.hero img {
    width: 50rem;
}





h1 {
    position:absolute;
    background-color: #465e73;
    color: #bde3f2;
    opacity: .5;
    padding: 10.2rem;
    font-family: "Roboto", sans-serif; 
    font-weight: 10;
    

}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #465e73;
    padding-inline: 2.5rem;
}

h2 {
    font-family: "Roboto", sans-serif; 
    font-weight: 20;
    color: #bf5934;
    
}

