:root {
    --primary-color: #042d45;
    --secondary-color: rgb(63, 138, 135);
    --accent1-color: #118ab2;
    --accent2-color: #ffd166;
    --accent3-color: #ef476f;
    --text-align: center;
    --background-color: rgb(176, 252, 252);
    --height: auto
}

* {
    box-sizing: border-box;
}
header, main, .hero h1, footer {
    max-width: 100rem;
    margin: 0 auto;
}
p {
    /*history paragraph font weight*/
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}
h2 {
    /*history title font weight color*/
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

nav a {
    /*home aboutus trips contactus, it is also modifying the footer social media icons*/
    text-decoration: none;
    padding:  20px;
    color:white;
    font-weight: 500;
    font-size:large;
   
}
nav a:hover {
    /*nav a complement change color when passes mouse on menu weight font*/
    color: #118ab2;
    text-decoration: underline;
    font-weight: 600;
}
header {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    padding: 10px;
    border:whitesmoke 1px;
    margin-bottom: 1rem;
    background-color:#042d45;
}
header nav {
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 1000px;
}
header img {
    /*logo position*/
    display: flex;
    justify-self: right;
    align-self: center;
}
footer {
    display : grid;
    grid-template-columns : 1.4fr 1fr; 
    justify-items : end;
    border : black solid 1px;
    background-color :#042d45;
}
footer p {
    align-self: center;
    font-family: "Raleway", sans-serif;
    color:rgb(145, 144, 144);

}
.followus {
   align-self: flex-end;
    padding: 10px 0;

}
.hero img {
    position : relative;
    width : 100%;
    display : block;
    height : var(--height);
    

}
.hero h1 { 
    font-family : "Roboto", sans-serif;
    font-weight : 500;
    font-size : 50px;
    position : absolute;
    top : 28%;
    width : 100%;
    color : #eee;
    background-color : rgb(0, 0, 0, 0.5);
    text-align : center;
    opacity: 1;

    
}
.hero article {
    display : flex;
    font-weight : 400;
    position : absolute;
    text-align : left;
    background-color : rgb(63, 138, 135, 0.7);   /*0.5 is the opacity*/
    max-width : 900px;
    top : 35%;
    right : 30%;
    padding : 1rem;
}
.hero article img {
    float: right;
    width: 50%;
    padding: 0;
    opacity: 100;
}
.history {
    border : black solid 1px;
    margin : 20px 0;
    display : grid;
    grid-template : 3rem 1fr / 1fr 0.5fr 1fr;
    align-items : center;
    background-color : rgb(63, 138, 135);
}
.history h2 {
    grid-column: 1 / 9;
    justify-self: center;
    font-size: 40px;
    padding: 20px 0;
}
.history img {
    justify-self: center;
    width: 100%;
    padding-bottom: 40px;
}
.history p {
    justify-self: right;
    padding:0 20px;
}
.adventure {
    border: black 1px;
    display: grid;
    grid-template: 5rem 1fr / repeat(5,1fr);
    align-items: center;
    background-color: #042d45;
    margin-bottom: 20px;
}
.adventure h2 {
    grid-column: 1 / 6;
    justify-self: center;
    font-size: 40px;
}
.adventure img {
    width:100%;
    padding: 0px 10px 10px;
}
.adventure figcaption {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 25px;
}
