:root {
    --text-align: center;
    --height: auto;
    --heading-background-color: #a362be;
    --heading-text-color: white;
    --heading-font: 'Montserrat', Helvica, sans-serif;
    --padding: 1rem;
    
}
   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #fc9051;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 5px;
}
main {
    max-width: 900px;
}

main img {
    width: 130px;
    height: var(--height);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 0 5px black;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 2.5rem;
    padding: 0;
    color: #383737;
}

aside {
    width: 30em;
    text-align: center;
    position: relative;
    
}

aside img {
    width: 200px;
   
}

aside h2 {
    position:absolute;
    top: 10px;
    left: 10px;
    color: white;
    
}

footer {
    margin-top: 1em;
    border-top: 1px solid #a15abf;
    text-align: center;
} 

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: 1rem;

    
    
    
}



/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: #fbde4e;
    color: white;

}
.indent {
    padding-left: 2rem;
    color: white;

}